body {
  background-color: #000000; /* black */
  color: #ffffff; /* white */
  text-align:center;
  font-family: Verdana, sans-serif;
}

#main-title {
  font-weight: normal;
  font-size: 50px;
}

.secondary-title {
  color: #ffffff;
  font-size: 42px;
  font-weight: 300px;
}

.download-link {
  color: #7fffd4;  /*  aquamarine */
  font-size: 16px;
  font-weight: normal;
}

h2 {
  color: #696969;
  font-family: Verdana;
  font-size: 21px;
}
#landing-image {

}

video {
  object-fit: contain;
}
